.filter-card-container {
  min-height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employment-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px #64748b solid;
}

.employment-heading {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
}

.employment-list-container {
  padding-left: 0px;
}

.list-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-heading {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  padding-left: 8px;
}

@media (max-width: 767px) {
  .filter-card-container {
    min-height: 50vh;
    width: 90vw;
    align-self: center;
  }

  .employment-container {
    width: 100%;
  }

  .employment-heading {
    font-size: 14px;
  }

  .label-heading {
    font-size: 12px;
  }
}
