.job-item-details-bg-container {
  width: 100vw;
  background-color: #121212;
  align-items: center;
}

.job-item-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-description-container {
  width: 90%;
  background-color: #475569;
  border-radius: 12px;
  margin-top: 30px;
}

.job-item-title-container {
  width: 25vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.job-item-logo-img {
  height: 7vh;
  width: 7vw;
  margin-right: 15px;
}

.job-item-title-text-container {
  height: 3vh;
  width: 16vw;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.job-item-title {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
}

.job-item-rating-container {
  height: 2vh;
  width: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-item-star-img {
  height: 100%;
  width: 2vw;
  color: #fbbf24;
}

.job-item-rating {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
}

.job-item-package-container {
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: 2px #cbd5e1 solid;
  margin-left: 5%;
}

.job-item-location-type-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.job-item-location-type-img {
  height: 2vh;
  width: 2vw;
  color: #ffffff;
  margin-right: 5px;
}

.job-item-location-type {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

.job-item-package {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: auto;
}

.job-item-description-heading-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-item-description-heading {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 5%;
}

.job-item-visit-container {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-link {
  color: #4f46e5;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: bold;
}

.visit-img {
  height: 5vh;
  width: 5vw;
  color: #4f46e5;
}

.job-item-text {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  padding-left: 5%;
}

.job-item-skills-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 5%;
}

.job-item-skills-list-container {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 5%;
}

.job-item-skill {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.skill-image {
  height: 5vh;
  width: 5vw;
  margin-right: 10px;
}

.skill-title {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
}

.company-details-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.job-item-company-img {
  height: 30vh;
  width: 30vw;
}

.similar-jobs-heading {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: bold;
  align-self: flex-start;
  padding-left: 5%;
}

.similar-jobs-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.similar-job-item-container {
  min-height: 40vh;
  width: 28vw;
  background-color: #475569;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.similar-job-item-title-container {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
}

.similar-logo-img {
  height: 5vh;
  width: 5vw;
  margin-left: 2vw;
  margin-right: 10px;
}

.similar-job-item-title-text-container {
  align-self: flex-start;
}

.similar-job-item-title {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
}

.similar-job-item-rating-container {
  display: flex;
  align-items: center;
}

.job-item-similar-star-img {
  height: 2vh;
  width: 2vw;
  color: #fbbf24;
}

.similar-description-heading {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  padding-left: 5%;
}

.similar-job-item-description {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  padding-left: 5%;
}

.similar-job-locaction-type-container {
  width: 25vw;
  display: flex;
  align-items: center;
}

.similar-job-locaction-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.similar-job-locaction-type-img {
  height: 2vh;
  width: 2vw;
  color: #ffffff;
}

.similar-job-locaction-type {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

.job-item-loader-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-item-failure-view-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-item-failure-view-img {
  height: 40vh;
  width: 50vw;
}

.job-item-failure-heading {
  color: #ffffff;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: bold;
}

.job-item-failure-text {
  color: #f8fafc;
  font-size: 22px;
  font-family: 'Roboto';
}

.job-item-retry-button {
  height: 42px;
  width: 90px;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  text-align: center;
  padding-top: auto;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 767px) {
  .job-item-title-container {
    width: 40vw;
  }

  .job-item-title-text-container {
    width: 32vw;
  }

  .job-item-title {
    font-size: 12px;
  }

  .job-item-rating-container {
    height: 4vh;
    width: 6vw;
  }

  .job-item-star-img {
    height: 3vh;
    width: 3vw;
  }

  .job-item-rating {
    font-size: 10px;
  }

  .job-item-location-type-img {
    height: 5vh;
    width: 5vw;
  }

  .job-item-location-type {
    font-size: 12px;
  }

  .job-item-package {
    font-size: 12px;
  }

  .job-item-description-heading {
    font-size: 14px;
  }

  .job-item-visit-container {
    width: 15vw;
  }

  .visit-link {
    font-size: 14px;
  }

  .visit-img {
    height: 6vh;
    width: 6vw;
  }

  .job-item-text {
    font-size: 10px;
  }

  .job-item-skills-heading {
    font-size: 14px;
  }

  .skill-image {
    margin-right: 5px;
  }

  .skill-title {
    font-size: 14px;
  }

  .company-details-container {
    flex-direction: column;
  }

  .job-item-company-img {
    width: 100%;
    margin-left: 10%;
  }

  .similar-jobs-heading {
    font-size: 14px;
  }

  .similar-job-item-container {
    min-height: 50vh;
    width: 100%;
    margin-right: 0px;
    align-items: flex-start;
  }

  .similar-job-item-title-text-container {
    height: 2vh;
  }

  .similar-job-item-title {
    font-size: 10px;
  }

  .similar-description-heading {
    font-size: 14px;
  }

  .similar-job-item-description {
    font-size: 10px;
  }

  .similar-job-locaction-type-container {
    width: 35vw;
  }

  .similar-job-locaction-container {
    margin-left: 10px;
  }

  .similar-job-locaction-type {
    font-size: 8px;
  }

  .similar-job-locaction-type-img {
    height: 5vh;
    width: 5vw;
  }

  .job-item-failure-heading {
    font-size: 14px;
  }

  .job-item-failure-text {
    font-size: 12px;
  }

  .job-item-retry-button {
    height: 28px;
    width: 70px;
    font-size: 12px;
  }
}
